# wget operation

```bash
wget {{ url }}
```

{% for key, val in users.items() %}
{{ key }}: こんにちわ、{{ val["last_name"] }} {{ val["first_name"] }}
{% endfor %}

```mermaid
flowchart LR
  start --> wget
  wget --> close
```